<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Lucid Log</title>
</head>
<body>
    <header>
        <img class="logo" src="static/images/logo_test.svg" alt="logo">
        <nav>
            <ul class="nav__links">
                <li><a href="#">Services</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">About</a></li>

            </ul>
        </nav>
        <a class="cta" href="#"><button>Log In</button></a>
        <a class="cta" href="#"><button>Sign Up</button></a>
    </header>

    <main>

    </main>
</body>
</html>