{% extends "base.html" %}
{% block content %}
<body>
<script defer src="/static/scripts/generate_response.js"></script>
    <div class="container">
        <div class="sidebar">
            <div class="info">
                <p><strong>Title</strong></p>
                <p>{{ entry_data[1] }}</p>
                <p><strong>Mood</strong></p>
                <p>{{ entry_data[2] }}</p>
                <p><strong>Color</strong></p>
                <p>{{ entry_data[3] }}</p>
                <p><strong>Date</strong></p>
                <p>{{ entry_data[5] }}</p>
                <p><a onclick="delete_entry()" class="delete">Delete</a></p>
            </div>
            <form id="entry_id_form">
                <input type="hidden" id="entry_id" name="entry_id" value="{{ entryid }} ">
            </form>
        </div>
        <div class="main-content">
            <div class="entry-right">
                <div class="container-top">
                    <div class="entry-content">
                        <p style="font-size: 20px">{{ entry_data[4] }}</p>
                    </div>
                </div>
                <div style="text-align: center">
                    <button onclick="generate_response()" class="journal-add-entry-btn">Generate AI Response <i class='bx bxs-star'></i></button>
                </div>
                <div class="error" id="error"></div>
                <div class="container-bottom">
                    <div class="entry-content">
                        <p id = "ai_response" style="font-size: 20px">{{ ai_data }}</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}