{%extends 'base.html'%}
    {%block content%}

        <body>
        <script defer src="/static/scripts/journal_entry.js"></script>
            <div class="journal-container">
                <div class="journal-header">
                    <h1>Your Journal</h1>
                    <button class="journal-add-entry-btn" onclick="openForm()"><strong>ADD   </strong><i class='bx bx-plus-medical'></i></button>
                </div>
                <table class="journal-table">
                    <thead>
                        <tr>
                            <th class="top-right-curve">Date</th>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Mood</th>
                            <th class="top-left-curve" >Color</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entryid, userid, title, mood, color ,content, date in entry_data %}
                        <tr onclick="window.location='entry/{{ entryid }}';">
                            <td>{{ date }}</td>
                            <td>{{ title }}</td>
                            <td>{{ content }}</td>
                            <td>{{ mood }}</td>
                            <td>{{ color }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="journal-form-popup" id="newEntryForm">
                <form class="journal-form-container" action="{{ url_for('home') }}" method="POST">
                    <h2>New Dream Entry</h2>

                    <div class="journal-form-group">
                        <label for="title"><b>Title</b></label>
                        <p style="font-size: 12px; margin-bottom: 5px;">(max 25 char)</p>
                        <input type="text" id="title" name="title" placeholder="Enter Title" maxlength="25">
                    </div>

                    <div class="journal-form-group">
                        <label><b>Mood</b></label>
                        <div class="journal-mood-selector">
                            <button type="button" class="journal-mood-btn" onclick="selectMood(this, 'happy')">😊</button>
                            <button type="button" class="journal-mood-btn" onclick="selectMood(this, 'sad')">😢</button>
                            <button type="button" class="journal-mood-btn" onclick="selectMood(this, 'angry')">😡</button>
                            <button type="button" class="journal-mood-btn" onclick="selectMood(this, 'scared')">😨</button>
                            <button type="button" class="journal-mood-btn" onclick="selectMood(this, 'tired')">😴</button>
                        </div>
                        <input type="hidden" id="mood" name="mood">
                    </div>

                    <div class="journal-form-group">
                        <label for="color"><b>Color</b></label>
                        <div class="journal-color-selector">
                            <!-- 24 colors as buttons -->
                            <button type="button" class="journal-color-btn" style="background-color: yellow;" onclick="selectColor(this, 'yellow')"></button>
                            <button type="button" class="journal-color-btn" style="background-color: red;" onclick="selectColor(this, 'red')"></button>
                            <button type="button" class="journal-color-btn" style="background-color: blue;" onclick="selectColor(this, 'blue')"></button>
                            <button type="button" class="journal-color-btn" style="background-color: orange;" onclick="selectColor(this, 'orange')"></button>
                            <button type="button" class="journal-color-btn" style="background-color: green;" onclick="selectColor(this, 'green')"></button>
                            <button type="button" class="journal-color-btn" style="background-color: greenyellow;" onclick="selectColor(this, 'greenyellow')"></button>
                            <button type="button" class="journal-color-btn" style="background-color: purple;" onclick="selectColor(this, 'purple')"></button>
                            <button type="button" class="journal-color-btn" style="background-color: pink;" onclick="selectColor(this, 'pink')"></button>
                            <button type="button" class="journal-color-btn" style="background-color: whitesmoke;" onclick="selectColor(this, 'white')"></button>
                            <button type="button" class="journal-color-btn" style="background-color: black;" onclick="selectColor(this, 'black')"></button>
                        </div>
                        <input type="hidden" id="color" name="color">
                    </div>

                    <div class="journal-form-group">
                        <label for="content"><b>Content</b></label>
                        <p style="font-size: 12px; margin-bottom: 5px;">(max 300 char)</p>
                        <textarea id="content" name="content" placeholder="Write your dream here..." maxlength="300"></textarea>
                    </div>

                    <div class="error" id="error"></div>

                    <button type="submit" class="journal-btn" onclick="submit_entry(event)">Save</button>
                    <button type="button" class="journal-btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>


        </body>
    {%endblock%}
