{% extends "base.html" %}
        {% block content %}
            <div class="container">
                    <div class="sidebar">
                        <div class="avatar">
                            <img src="https://via.placeholder.com/200" alt="Avatar">
                        </div>
                        <div class="info">
                            <p><strong>Username</strong></p>
                            <p>{{username}}<a href="#">change</a></p>
                            <p><strong>Email</strong></p>
                            <p>{{email}}<a href="#">change</a></p>
                            <p><strong>Gender</strong></p>
                            <p>{{gender}}<a href="#">change</a></p>
                            <p><strong>Dated of birth</strong></p>
                            <p>{{dob}}<a href="#">change</a></p>
                            <p><strong>Administration</strong></p>
                            <p><a href="#">Logout</a></p>
                            <p><a href="#" class="delete">Delete your account</a></p>
                        </div>
                    </div>
                    <div class="main-content">
                        <h1>User Profile</h1>
                        <div class="starsign-img">
                            <img src="https://via.placeholder.com/250" alt="Starsign">
                        </div>

                        <form>
                            <div class="starsign-wrapper">
                                <h1 class="starsign-text">placeholder</h1>
                                <p class="starsign-text">placeholder</p>
                            </div>
                        </form>
                    </div>
                </div>
        {% endblock %}