{% extends "base.html" %}
        {% block content %}
            <script defer src="/static/scripts/profile.js"></script>
            <div class="container">
                    <div class="sidebar">
                        <div class="avatar">
                            <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                                <input type="file" id="file-input" name="file" style="display: none;" accept="image/png, image/jpeg, image/jpg" />
                                <button type="button" class="avatar-button" onclick="document.getElementById('file-input').click();">
                                    {% if user_image_url %}
                                        <img src="{{ user_image_url }}" alt="Avatar" width="200" height="200">
                                    {% else %}
                                        <img src="/static/images/Profile.png" alt="Avatar" width="200" height="200">
                                    {% endif %}
                                    <div class="overlay"></div>
                                    <div class="camera-icon"><i class='bx bxs-camera-plus'></i></div>
                                </button>
                            </form>
                        </div>

                    <div class="info">
                        <p><strong>Username</strong></p>
                        <p>{{username}}</p>
                        <p><strong>Email</strong></p>
                        <p>{{email}}</p>
                        <p><strong>Gender</strong></p>
                        <p>{{gender}}</p>
                        <p><strong>Date of birth</strong></p>
                        <p>{{dob}}</p>
                        <p><strong>Administration</strong></p>
                        <p><a href="{{ url_for('logout')}}">Logout</a></p>
                        <p><a href="#" class="delete">Delete your account</a></p>
                    </div>
                    </div>
                    <div class="main-content">
                        <h1>User Profile</h1>
                        <div class="starsign-img">
                            <img id="starsignImage" src="https://via.placeholder.com/250" alt="Starsign">
                        </div>

                        <form>
                            <div class="starsign-wrapper">
                                <h1 id="starsign-data" class="starsign-text">{{starsign}}</h1>
                                <p class="starsign-text">{{s_desc}}</p>
                            </div>
                        </form>
                    </div>
                </div>
        {% endblock %}
