{% extends "base.html" %}
{% block content %}
    <main>

        <script defer src="static/scripts/signup_form_validation.js"></script>
        <div id="popup-overlay" class="popup-overlay" onclick="closePopup(event)">
            <div class="popup-content" id="code-popup" style="display: none;" onclick="stopPropagation(event)">
                <p>Please enter the confirmation code sent to your email.</p>

              <form id="code-form">
                <input class="code-input" type="text" id="code-input" name="code-input" autocomplete="off" placeholder="XXXXX">
                  <div class="error" id="code_popup_error"></div>
                  <div id="timer"></div>
                <button class="popup-submit" type="button" onclick="submitCode()">Submit</button>
              </form>

            </div>
        </div>

        <div class="wrapper">
            <form id="signup">
                <h1>Sign Up</h1>
                <div class="input-box">
                    <input type="text" placeholder="Username" id="username" name="username">
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Email" id="email" name="email">
                    <i class='bx bxs-envelope' ></i>
                </div>
                <div class="input-box date-of-birth">

                    <input type="text" placeholder="DD" id="dob-day" name="dob_day" maxlength="2">
                    <input type="text" placeholder="MM" id="dob-month" name="dob_month" maxlength="2">
                    <input type="text" placeholder="YYYY" id="dob-year" name="dob_year" maxlength="4">
                </div>

                <div class="input-box gender">
                    <select id="gender" name="gender" onchange="updateGender()">
                        <option value="" disabled selected>Select your gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                    <i class='bx bx-chevron-down'></i>
                </div>

                <input type="hidden" id="selected-gender" name="selected_gender">

                <div class="input-box">
                    <input type="password" placeholder="Password" id="password" name="password">
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Confirm Password" id="confirm_password" name="confirm_password">
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <div class="error" id="error">{{ error }}</div>
                <button type="button" id="sign-up-btn" class="submit_button" onclick="submit_entry()">Sign Up</button>
                <div class="register-link">
                    <p>Already have an account? <a href="{{ url_for('login')}}">Login</a></p>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
